In [1]:
import pandas as pd

In [2]:
DF=pd.read_csv("C:/Users/navee/Desktop/Carrier Suggestion project/student-scores.csv")

In [3]:
df=DF.copy()

In [4]:
df.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

In [5]:
df.shape

(2000, 17)

In [6]:
df.drop(["id"], inplace=True, axis=1)

In [7]:
df.drop(["first_name", "last_name", "email"], inplace=True, axis=1)

In [8]:
df

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,male,False,5,False,10,Unknown,84,77,65,65,80,74,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82
1996,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73
1997,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

In [9]:
df["total_score"]=df["math_score"]+df["physics_score"]+df["chemistry_score"]+df["biology_score"]+df["english_score"]+df["geography_score"]+df["history_score"]
df["avarage_score"]=round(df["total_score"]/7,2)

In [10]:
df

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,avarage_score
0,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87,574,82.00
1,female,False,2,False,47,Doctor,90,86,96,100,90,88,90,640,91.43
2,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94,605,86.43
3,female,False,5,False,3,Artist,71,74,88,80,89,63,86,551,78.71
4,male,False,5,False,10,Unknown,84,77,65,65,80,74,76,521,74.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82,558,79.71
1996,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73,534,76.29
1997,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78,578,82.57
1998,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75,566,80.86
1999,female,False,5,False,27,Accountant,82,99,91,69,83,93,100,617,88.14

In [11]:
df.shape

(2000, 15)

In [12]:
df["career_aspiration"].value_counts()

career_aspiration
Software Engineer        315
Business Owner           309
Unknown                  223
Banker                   169
Lawyer                   138
Accountant               126
Doctor                   119
Real Estate Developer     83
Stock Investor            73
Construction Engineer     68
Artist                    67
Game Developer            63
Government Officer        61
Teacher                   59
Designer                  56
Scientist                 39
Writer                    32
Name: count, dtype: int64

In [13]:
len(df["career_aspiration"].unique())

17

In [14]:
df["career_aspiration"].unique()

array(['Lawyer', 'Doctor', 'Government Officer', 'Artist', 'Unknown',
       'Software Engineer', 'Teacher', 'Business Owner', 'Scientist',
       'Banker', 'Writer', 'Accountant', 'Designer',
       'Construction Engineer', 'Game Developer', 'Stock Investor',
       'Real Estate Developer'], dtype=object)

In [15]:
#Encoding categeorical columns===need to convert all the values into the numbers====>gender,part time job,extra_ciricular activities,career_aspirations

In [16]:
gender_map={'male': 0, 'female' :1}
part_time_job_map={False: 0,True: 1}
extracurricular_activities_map={False: 0,True: 1}
career_aspiration_map={'Lawyer':0, 'Doctor':1, 'Government Officer':2, 'Artist':3, 'Unknown':4,
       'Software Engineer':5, 'Teacher':6, 'Business Owner':7, 'Scientist':8,
       'Banker':9, 'Writer':10, 'Accountant':11, 'Designer':12,
       'Construction Engineer':13, 'Game Developer':14, 'Stock Investor':15,
       'Real Estate Developer':16}

In [17]:
df['gender']=df['gender'].map(gender_map)
df['part_time_job']=df['part_time_job'].map(part_time_job_map)
df['extracurricular_activities']=df['extracurricular_activities'].map(extracurricular_activities_map)
df['career_aspiration']=df['career_aspiration'].map(career_aspiration_map)

In [18]:
df

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,avarage_score
0,0,0,3,0,27,0,73,81,93,97,63,80,87,574,82.00
1,1,0,2,0,47,1,90,86,96,100,90,88,90,640,91.43
2,1,0,9,1,13,2,81,97,95,96,65,77,94,605,86.43
3,1,0,5,0,3,3,71,74,88,80,89,63,86,551,78.71
4,0,0,5,0,10,4,84,77,65,65,80,74,76,521,74.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,2,0,30,13,83,77,84,73,75,84,82,558,79.71
1996,0,0,2,0,20,5,89,65,73,80,87,67,73,534,76.29
1997,1,0,5,0,14,5,97,85,63,93,68,94,78,578,82.57
1998,1,1,10,1,5,7,51,96,72,89,95,88,75,566,80.86
1999,1,0,5,0,27,11,82,99,91,69,83,93,100,617,88.14

In [19]:
df['career_aspiration'].value_counts()

career_aspiration
5     315
7     309
4     223
9     169
0     138
11    126
1     119
16     83
15     73
13     68
3      67
14     63
2      61
6      59
12     56
8      39
10     32
Name: count, dtype: int64

In [20]:
#Balance_dataset

In [21]:
from imblearn.over_sampling import SMOTE

In [22]:
smote=SMOTE(random_state=42)

In [24]:
#separate features and Target variables
X=df.drop(['career_aspiration'],axis=True)
y=df['career_aspiration']

In [25]:
X

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,avarage_score
0,0,0,3,0,27,73,81,93,97,63,80,87,574,82.00
1,1,0,2,0,47,90,86,96,100,90,88,90,640,91.43
2,1,0,9,1,13,81,97,95,96,65,77,94,605,86.43
3,1,0,5,0,3,71,74,88,80,89,63,86,551,78.71
4,0,0,5,0,10,84,77,65,65,80,74,76,521,74.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,2,0,30,83,77,84,73,75,84,82,558,79.71
1996,0,0,2,0,20,89,65,73,80,87,67,73,534,76.29
1997,1,0,5,0,14,97,85,63,93,68,94,78,578,82.57
1998,1,1,10,1,5,51,96,72,89,95,88,75,566,80.86
1999,1,0,5,0,27,82,99,91,69,83,93,100,617,88.14

In [26]:
y

0        0
1        1
2        2
3        3
4        4
        ..
1995    13
1996     5
1997     5
1998     7
1999    11
Name: career_aspiration, Length: 2000, dtype: int64

In [27]:
X_resampled,y_resampled=smote.fit_resample(X,y)

In [28]:
y_resampled.value_counts()

career_aspiration
0     315
9     315
15    315
14    315
13    315
12    315
11    315
10    315
8     315
1     315
7     315
6     315
5     315
4     315
3     315
2     315
16    315
Name: count, dtype: int64

In [29]:
X_resampled.shape

(5355, 14)

In [30]:
y_resampled.shape

(5355,)

In [31]:
from  sklearn.model_selection import train_test_split

In [34]:
X_train,X_test,y_train,y_test=train_test_split(X_resampled,y_resampled, test_size=0.2,random_state=42)

In [35]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((4284, 14), (1071, 14), (4284,), (1071,))

In [37]:
#feature scaling =====> scale all the values between 0 and 1


from sklearn.preprocessing import StandardScaler

In [43]:
scaler=StandardScaler()

In [44]:

X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [45]:
X_train_scaled

array([[ 1.28299565, -0.25678162, -0.00818145, ...,  0.83256957,
         1.69887402,  1.70682316],
       [ 1.28299565, -0.25678162, -0.00818145, ..., -0.6591611 ,
        -0.80753861, -0.80805687],
       [ 1.28299565, -0.25678162, -0.93053284, ...,  1.29873541,
         1.93142777,  1.92224115],
       ...,
       [-0.77942587, -0.25678162,  0.91416993, ..., -0.19299527,
        -0.10987736, -0.0959709 ],
       [ 1.28299565, -0.25678162, -0.00818145, ...,  0.64610324,
        -0.2907525 , -0.28414468],
       [-0.77942587, -0.25678162,  0.45299424, ..., -0.28622844,
        -0.93673514, -0.94468072]])

In [55]:
#model training (multiple models)

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import warnings
warnings.filterwarnings("ignore")

In [57]:
models = {
    "Logistic Regression": LogisticRegression(),
    "Support Vector Classifier": SVC(),
    "Random Forest Classifier": RandomForestClassifier(),
    "K Nearest Neighbors": KNeighborsClassifier(),
    "Decision Tree Classifier": DecisionTreeClassifier(),
    "Gaussian Naive Bayes": GaussianNB(),
    "AdaBoost Classifier": AdaBoostClassifier(),
    "Gradient Boosting Classifier": GradientBoostingClassifier(),
    "XGBoost Classifier": XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')
}


for name,model in models.items():
    print("="*50)
    print("model: ",name)
    
    #training the model
    model.fit(X_train_scaled,y_train)
    
    #predecting
    y_pred=model.predict(X_test_scaled)
    
    
    #calculating accuracy,
    accuracy=accuracy_score(y_test,y_pred)
    classification_rep=classification_report(y_test,y_pred)
    confusion_mat= confusion_matrix(y_test,y_pred)
    
    
    #printing the values
    print("Accuracy: ",accuracy)
    print("classification report: ",classification_rep)
    print("confusion matrix: ",confusion_mat)

==================================================
model:  Logistic Regression
Accuracy:  0.48552754435107376
classification report:                precision    recall  f1-score   support

           0       0.45      0.54      0.49        68
           1       0.48      0.62      0.55        72
           2       0.41      0.44      0.42        57
           3       0.51      0.55      0.53        58
           4       0.33      0.17      0.22        66
           5       0.32      0.32      0.32        76
           6       0.58      0.92      0.71        71
           7       0.83      0.90      0.87        61
           8       0.41      0.45      0.43        53
           9       0.29      0.10      0.15        61
          10       0.59      0.71      0.65        63
          11       0.44      0.45      0.45        53
          12       0.31      0.16      0.21        68
          13       0.38      0.49      0.43        55
          14       0.60      0.91      0.73        57
          15       0.37      0.24      0.29        63
          16       0.55      0.32      0.40        69

    accuracy                           0.49      1071
   macro avg       0.46      0.49      0.46      1071
weighted avg       0.46      0.49      0.46      1071

confusion matrix:  [[37  4  0  0  0  7  0  0  4  1 10  3  0  2  0  0  0]
 [ 2 45  0  0  0  7  0  0 13  0  0  0  0  5  0  0  0]
 [ 0  0 25  5  1  1  9  1  0  0  2  0  4  1  2  2  4]
 [ 0  0  2 32  0  0  3  1  0  0  0  0  0  0 11  0  9]
 [ 6  5  7  3 11  9  7  1  2  3  0  3  3  2  1  2  1]
 [ 8 10  0  0  1 24  1  0  0  7  1  5  3 12  0  4  0]
 [ 0  0  0  0  1  2 65  0  0  1  2  0  0  0  0  0  0]
 [ 0  0  0  3  0  0  0 55  0  0  0  0  0  0  3  0  0]
 [ 3 18  0  0  0  1  0  0 24  0  6  0  0  1  0  0  0]
 [10  1  0  0  3  8  8  0  1  6  2  8  6  6  0  2  0]
 [ 8  2  0  0  1  0  4  0  2  1 45  0  0  0  0  0  0]
 [ 0  1  0  0  4  6  3  0  4  1  0 24  1  3  0  6  0]
 [ 2  2  9  3  4  2  7  0  3  0  4  0 11  6  8  5  2]
 [ 1  2  2  0  3  0  0  0  5  1  1  4  4 27  0  5  0]
 [ 0  0  0  4  0  0  0  0  0  0  0  0  0  0 52  0  1]
 [ 5  3  3  0  4  8  1  2  0  0  2  7  4  7  1 15  1]
 [ 0  0 13 13  0  1  5  6  0  0  1  0  0  0  8  0 22]]
==================================================
model:  Support Vector Classifier
Accuracy:  0.6470588235294118
classification report:                precision    recall  f1-score   support

           0       0.55      0.62      0.58        68
           1       0.60      0.83      0.70        72
           2       0.60      0.74      0.66        57
           3       0.69      0.86      0.77        58
           4       0.57      0.18      0.28        66
           5       0.40      0.32      0.35        76
           6       0.70      0.93      0.80        71
           7       0.86      0.93      0.90        61
           8       0.65      0.81      0.72        53
           9       0.38      0.33      0.35        61
          10       0.84      0.86      0.85        63
          11       0.82      0.51      0.63        53
          12       0.65      0.51      0.57        68
          13       0.53      0.85      0.65        55
          14       0.77      0.93      0.84        57
          15       0.67      0.44      0.53        63
          16       0.77      0.48      0.59        69

    accuracy                           0.65      1071
   macro avg       0.65      0.66      0.63      1071
weighted avg       0.65      0.65      0.63      1071

confusion matrix:  [[42  6  0  0  0  4  0  0  2  4  6  0  0  3  0  1  0]
 [ 1 60  0  0  0  1  0  0  5  0  0  0  1  3  0  1  0]
 [ 0  0 42  2  1  2  4  0  0  0  0  0  2  0  0  3  1]
 [ 0  0  2 50  0  0  0  1  0  0  0  0  0  0  3  0  2]
 [ 5  8  7  1 12  7  5  2  1  7  0  2  4  3  1  1  0]
 [10  7  1  0  1 24  1  1  5 12  0  1  1 11  0  1  0]
 [ 0  0  0  0  0  1 66  0  0  2  1  0  0  0  0  0  1]
 [ 0  0  0  1  0  0  1 57  0  0  0  0  0  0  1  0  1]
 [ 1  8  0  0  0  1  0  0 43  0  0  0  0  0  0  0  0]
 [ 8  1  1  0  0  7  6  1  3 20  1  0  4  5  0  4  0]
 [ 2  1  4  0  0  0  0  0  0  1 54  0  0  1  0  0  0]
 [ 0  3  1  0  3  5  0  1  3  2  1 27  1  3  0  3  0]
 [ 2  1  0  3  2  1  8  0  2  0  1  1 35  4  4  0  4]
 [ 0  3  0  0  0  1  0  0  2  1  0  1  0 47  0  0  0]
 [ 0  0  0  0  0  0  1  2  0  0  0  0  1  0 53  0  0]
 [ 5  2  3  0  2  4  0  0  0  3  0  1  4  9  1 28  1]
 [ 0  0  9 15  0  2  2  1  0  0  0  0  1  0  6  0 33]]
==================================================
model:  Random Forest Classifier
Accuracy:  0.8272642390289449
classification report:                precision    recall  f1-score   support

           0       0.76      0.85      0.81        68
           1       0.81      1.00      0.89        72
           2       0.78      0.98      0.87        57
           3       0.87      0.93      0.90        58
           4       0.81      0.39      0.53        66
           5       0.60      0.39      0.48        76
           6       0.91      1.00      0.95        71
           7       0.95      0.92      0.93        61
           8       0.73      0.98      0.84        53
           9       0.66      0.72      0.69        61
          10       0.93      0.98      0.95        63
          11       0.88      0.72      0.79        53
          12       0.94      0.87      0.90        68
          13       0.77      0.91      0.83        55
          14       0.89      1.00      0.94        57
          15       0.89      0.76      0.82        63
          16       0.90      0.77      0.83        69

    accuracy                           0.83      1071
   macro avg       0.83      0.83      0.82      1071
weighted avg       0.83      0.83      0.82      1071

confusion matrix:  [[58  3  0  0  1  1  0  0  0  2  1  1  0  0  0  1  0]
 [ 0 72  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0 56  0  0  0  0  0  0  0  0  0  0  0  0  0  1]
 [ 0  0  0 54  0  0  0  1  0  0  0  0  0  0  2  0  1]
 [ 5  3  8  0 26  9  2  0  2  4  1  1  2  0  1  0  2]
 [ 7  5  0  0  2 30  0  0  7 13  0  1  0 10  0  1  0]
 [ 0  0  0  0  0  0 71  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  2  0  0  0 56  0  0  0  0  0  0  2  0  1]
 [ 0  1  0  0  0  0  0  0 52  0  0  0  0  0  0  0  0]
 [ 3  1  0  0  0  2  3  0  2 44  2  0  2  0  0  2  0]
 [ 0  0  0  0  0  0  0  0  1  0 62  0  0  0  0  0  0]
 [ 0  2  0  0  1  5  0  0  3  3  0 38  0  1  0  0  0]
 [ 0  0  2  0  1  0  2  0  0  0  1  0 59  0  1  1  1]
 [ 0  0  1  0  0  0  0  0  3  0  0  0  0 50  0  1  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 57  0  0]
 [ 3  2  0  0  0  3  0  0  0  1  0  2  0  4  0 48  0]
 [ 0  0  5  6  1  0  0  2  1  0  0  0  0  0  1  0 53]]
==================================================
model:  K Nearest Neighbors
Accuracy:  0.6778711484593838
classification report:                precision    recall  f1-score   support

           0       0.59      0.68      0.63        68
           1       0.73      0.78      0.75        72
           2       0.63      0.86      0.73        57
           3       0.60      0.81      0.69        58
           4       0.35      0.17      0.23        66
           5       0.35      0.14      0.21        76
           6       0.83      0.92      0.87        71
           7       0.90      0.72      0.80        61
           8       0.67      0.91      0.77        53
           9       0.44      0.48      0.46        61
          10       0.81      0.92      0.86        63
          11       0.71      0.64      0.67        53
          12       0.71      0.79      0.75        68
          13       0.69      0.80      0.74        55
          14       0.82      0.89      0.86        57
          15       0.65      0.62      0.63        63
          16       0.78      0.58      0.67        69

    accuracy                           0.68      1071
   macro avg       0.66      0.69      0.67      1071
weighted avg       0.66      0.68      0.66      1071

confusion matrix:  [[46  2  0  0  0  3  0  0  1  8  6  0  0  0  0  2  0]
 [ 4 56  0  0  1  0  0  0  4  1  1  0  1  1  0  3  0]
 [ 0  0 49  1  0  0  0  0  0  0  2  0  0  0  1  1  3]
 [ 0  0  4 47  0  0  0  1  0  1  0  0  0  0  3  0  2]
 [ 4  5  5  5 11  6  6  1  2  7  1  1  6  1  1  1  3]
 [10  6  2  0  7 11  1  1  6  9  0  3  6 10  0  4  0]
 [ 0  0  1  2  0  0 65  0  0  2  0  0  0  0  1  0  0]
 [ 0  0  1  3  2  0  1 44  0  2  0  1  2  1  1  1  2]
 [ 1  4  0  0  0  0  0  0 48  0  0  0  0  0  0  0  0]
 [ 6  0  2  1  3  3  1  1  2 29  1  4  4  0  0  3  1]
 [ 2  0  2  0  0  0  0  0  0  1 58  0  0  0  0  0  0]
 [ 0  2  2  0  0  5  0  0  3  2  1 34  1  2  1  0  0]
 [ 1  1  2  2  0  0  1  0  0  2  1  1 54  0  0  3  0]
 [ 2  0  0  0  4  0  0  0  3  0  0  0  0 44  1  1  0]
 [ 0  0  1  1  0  1  0  0  0  0  0  0  1  1 51  1  0]
 [ 2  1  1  4  2  1  1  0  3  2  0  4  0  3  0 39  0]
 [ 0  0  6 12  1  1  2  1  0  0  1  0  1  1  2  1 40]]
==================================================
model:  Decision Tree Classifier
Accuracy:  0.6900093370681606
classification report:                precision    recall  f1-score   support

           0       0.67      0.69      0.68        68
           1       0.77      0.88      0.82        72
           2       0.69      0.72      0.71        57
           3       0.81      0.76      0.79        58
           4       0.42      0.38      0.40        66
           5       0.35      0.22      0.27        76
           6       0.86      0.85      0.85        71
           7       0.92      0.80      0.86        61
           8       0.81      0.89      0.85        53
           9       0.52      0.54      0.53        61
          10       0.80      0.84      0.82        63
          11       0.59      0.66      0.62        53
          12       0.62      0.72      0.67        68
          13       0.62      0.76      0.68        55
          14       0.82      0.93      0.87        57
          15       0.64      0.51      0.57        63
          16       0.74      0.71      0.73        69

    accuracy                           0.69      1071
   macro avg       0.69      0.70      0.69      1071
weighted avg       0.68      0.69      0.68      1071

confusion matrix:  [[47  3  0  0  1  8  0  0  1  0  4  1  2  0  0  1  0]
 [ 2 63  0  0  0  1  0  0  2  0  0  3  1  0  0  0  0]
 [ 0  0 41  1  0  1  0  0  0  4  0  0  3  1  0  1  5]
 [ 0  0  0 44  2  0  0  2  0  0  0  0  1  0  6  0  3]
 [ 2  3  8  0 25  4  2  1  1  7  1  4  1  0  1  2  4]
 [ 6  7  0  0 11 17  1  0  2  5  2  7  5  9  0  4  0]
 [ 0  0  2  0  3  2 60  0  0  1  1  0  2  0  0  0  0]
 [ 0  0  0  2  3  0  0 49  0  0  0  0  2  0  3  0  2]
 [ 2  1  0  0  0  0  0  0 47  1  1  1  0  0  0  0  0]
 [ 7  0  0  0  1  4  2  0  2 33  2  3  3  2  0  1  1]
 [ 0  1  0  0  0  2  0  0  1  4 53  0  1  1  0  0  0]
 [ 0  2  0  0  3  1  2  0  2  1  0 35  5  1  0  1  0]
 [ 1  0  1  1  6  1  0  0  0  2  0  0 49  3  1  2  1]
 [ 1  1  1  0  1  0  0  0  0  3  1  1  1 42  0  3  0]
 [ 0  0  0  1  0  0  0  0  0  0  0  0  2  0 53  0  1]
 [ 2  1  3  0  2  7  1  0  0  1  1  4  0  9  0 32  0]
 [ 0  0  3  5  2  1  2  1  0  1  0  0  1  0  1  3 49]]
==================================================
model:  Gaussian Naive Bayes
Accuracy:  0.3099906629318394
classification report:                precision    recall  f1-score   support

           0       0.56      0.22      0.32        68
           1       0.64      0.53      0.58        72
           2       0.18      0.05      0.08        57
           3       0.30      0.05      0.09        58
           4       0.50      0.06      0.11        66
           5       0.45      0.18      0.26        76
           6       0.31      1.00      0.47        71
           7       0.95      0.85      0.90        61
           8       0.64      0.17      0.27        53
           9       0.20      0.03      0.06        61
          10       0.69      0.35      0.46        63
          11       0.60      0.23      0.33        53
          12       0.50      0.13      0.21        68
          13       0.11      0.96      0.20        55
          14       0.00      0.00      0.00        57
          15       0.50      0.06      0.11        63
          16       0.47      0.30      0.37        69

    accuracy                           0.31      1071
   macro avg       0.45      0.31      0.28      1071
weighted avg       0.45      0.31      0.29      1071

confusion matrix:  [[15  0  0  0  0  3  4  0  1  0  4  2  0 39  0  0  0]
 [ 0 38  0  0  0  2  3  0  3  0  0  0  2 24  0  0  0]
 [ 0  0  3  0  1  1 16  0  0  0  0  0  0 31  0  2  3]
 [ 0  0  0  3  0  0 15  1  0  0  0  0  0 23  3  0 13]
 [ 3  3  0  3  4  3 13  0  0  2  0  3  3 26  0  0  3]
 [ 4  6  0  0  1 14 12  0  0  2  0  1  1 34  0  1  0]
 [ 0  0  0  0  0  0 71  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  1  0  0  3 52  0  0  0  0  0  3  0  0  2]
 [ 0  3  0  0  0  0  0  0  9  1  1  0  0 39  0  0  0]
 [ 2  1  1  0  1  2 16  0  0  2  4  1  1 30  0  0  0]
 [ 3  6  0  0  0  0  9  0  0  1 22  0  0 22  0  0  0]
 [ 0  0  0  0  0  1 13  0  0  0  0 12  1 25  0  1  0]
 [ 0  1  7  0  0  0 21  0  1  0  1  0  9 27  0  0  1]
 [ 0  1  0  0  0  1  0  0  0  0  0  0  0 53  0  0  0]
 [ 0  0  0  0  0  0 11  1  0  0  0  0  0 45  0  0  0]
 [ 0  0  1  0  1  2  6  0  0  1  0  1  1 44  0  4  2]
 [ 0  0  5  3  0  2 16  1  0  1  0  0  0 20  0  0 21]]
==================================================
model:  AdaBoost Classifier

Accuracy:  0.2334267040149393
classification report:                precision    recall  f1-score   support

           0       0.00      0.00      0.00        68
           1       1.00      0.61      0.76        72
           2       0.28      0.56      0.37        57
           3       0.00      0.00      0.00        58
           4       0.00      0.00      0.00        66
           5       0.00      0.00      0.00        76
           6       0.29      0.79      0.42        71
           7       0.00      0.00      0.00        61
           8       0.15      1.00      0.27        53
           9       0.00      0.00      0.00        61
          10       0.18      0.38      0.25        63
          11       0.00      0.00      0.00        53
          12       0.00      0.00      0.00        68
          13       0.00      0.00      0.00        55
          14       0.00      0.00      0.00        57
          15       0.00      0.00      0.00        63
          16       0.17      0.59      0.27        69

    accuracy                           0.23      1071
   macro avg       0.12      0.23      0.14      1071
weighted avg       0.13      0.23      0.14      1071

confusion matrix:  [[ 0  0  0  0  0  0  0  0 68  0  0  0  0  0  0  0  0]
 [ 0 44  0  0  0  0  0  0 20  0  8  0  0  0  0  0  0]
 [ 0  0 32  0  0  0 15  0  0  0  0  0  0  0  0  0 10]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 58]
 [ 0  0 14  0  0  0  9  0 27  0 11  0  0  0  0  0  5]
 [ 0  0  0  0  0  0 10  0 45  0 21  0  0  0  0  0  0]
 [ 0  0 14  0  0  0 56  0  0  0  1  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 61]
 [ 0  0  0  0  0  0  0  0 53  0  0  0  0  0  0  0  0]
 [ 0  0  3  0  0  0 18  0 24  0 16  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  8  0 31  0 24  0  0  0  0  0  0]
 [ 0  0  0  0  0  0 15  0 22  0 16  0  0  0  0  0  0]
 [ 0  0 16  0  0  0 24  0 12  0  8  0  0  0  0  0  8]
 [ 0  0  1  0  0  0 25  0 14  0 15  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 57]
 [ 0  0  8  0  0  0 15  0 28  0 12  0  0  0  0  0  0]
 [ 0  0 28  0  0  0  0  0  0  0  0  0  0  0  0  0 41]]
==================================================
model:  Gradient Boosting Classifier
Accuracy:  0.7488328664799253
classification report:                precision    recall  f1-score   support

           0       0.66      0.79      0.72        68
           1       0.82      0.99      0.89        72
           2       0.64      0.86      0.73        57
           3       0.81      0.93      0.86        58
           4       0.68      0.20      0.31        66
           5       0.47      0.42      0.44        76
           6       0.83      0.97      0.90        71
           7       0.97      0.95      0.96        61
           8       0.75      0.96      0.84        53
           9       0.50      0.46      0.48        61
          10       0.89      0.94      0.91        63
          11       0.77      0.62      0.69        53
          12       0.80      0.69      0.74        68
          13       0.66      0.85      0.75        55
          14       0.86      0.98      0.92        57
          15       0.78      0.57      0.66        63
          16       0.83      0.65      0.73        69

    accuracy                           0.75      1071
   macro avg       0.75      0.76      0.74      1071
weighted avg       0.75      0.75      0.73      1071

confusion matrix:  [[54  3  0  0  1  5  0  0  1  2  0  1  0  1  0  0  0]
 [ 0 71  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0]
 [ 0  0 49  1  0  1  3  0  0  0  0  0  0  0  0  0  3]
 [ 0  0  0 54  0  0  0  1  0  0  0  0  0  0  2  0  1]
 [ 6  3 12  1 13  9  1  0  2  7  2  1  3  2  1  2  1]
 [ 9  2  0  0  0 32  1  0  3 11  0  2  1 11  0  4  0]
 [ 0  0  0  0  0  0 69  0  0  2  0  0  0  0  0  0  0]
 [ 0  0  0  2  0  0  0 58  0  0  0  0  0  0  1  0  0]
 [ 0  2  0  0  0  0  0  0 51  0  0  0  0  0  0  0  0]
 [ 4  0  3  0  0  6  4  0  3 28  3  3  2  2  0  3  0]
 [ 2  1  0  0  0  1  0  0  0  0 59  0  0  0  0  0  0]
 [ 1  3  1  0  1  2  2  0  3  4  0 33  0  3  0  0  0]
 [ 2  0  4  1  1  3  1  0  1  0  1  0 47  2  2  1  2]
 [ 2  0  2  0  0  1  0  0  2  0  0  0  1 47  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  1  0 56  0  0]
 [ 2  2  1  0  1  8  0  0  1  2  1  3  1  3  0 36  2]
 [ 0  0  5  8  2  0  2  1  0  0  0  0  3  0  3  0 45]]
==================================================
model:  XGBoost Classifier
Accuracy:  0.8263305322128851
classification report:                precision    recall  f1-score   support

           0       0.77      0.87      0.81        68
           1       0.85      0.93      0.89        72
           2       0.77      0.96      0.86        57
           3       0.89      0.93      0.91        58
           4       0.91      0.44      0.59        66
           5       0.55      0.45      0.49        76
           6       0.92      0.94      0.93        71
           7       0.95      0.92      0.93        61
           8       0.87      0.98      0.92        53
           9       0.61      0.69      0.65        61
          10       0.97      0.98      0.98        63
          11       0.81      0.72      0.76        53
          12       0.88      0.88      0.88        68
          13       0.73      0.89      0.80        55
          14       0.90      0.98      0.94        57
          15       0.84      0.73      0.78        63
          16       0.91      0.86      0.88        69

    accuracy                           0.83      1071
   macro avg       0.83      0.83      0.82      1071
weighted avg       0.83      0.83      0.82      1071

confusion matrix:  [[59  2  0  0  0  0  0  0  1  3  0  1  0  1  0  1  0]
 [ 1 67  0  0  0  0  0  0  1  1  0  0  2  0  0  0  0]
 [ 0  0 55  0  0  1  1  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0 54  0  0  0  1  0  0  0  0  0  0  1  0  2]
 [ 4  2  6  0 29  7  1  0  1  6  2  1  2  1  1  2  1]
 [ 9  4  0  0  0 34  1  0  1 10  0  2  1 11  0  3  0]
 [ 0  0  2  0  0  0 67  0  0  2  0  0  0  0  0  0  0]
 [ 0  0  0  2  0  0  0 56  0  0  0  0  0  0  1  0  2]
 [ 0  1  0  0  0  0  0  0 52  0  0  0  0  0  0  0  0]
 [ 2  0  3  0  0  6  1  0  2 42  0  1  2  1  0  1  0]
 [ 0  0  0  0  0  0  0  0  0  0 62  0  0  1  0  0  0]
 [ 1  2  0  0  0  4  2  0  2  3  0 38  0  1  0  0  0]
 [ 0  0  1  0  1  2  0  0  0  1  0  1 60  0  2  0  0]
 [ 0  0  1  0  0  2  0  0  0  1  0  0  0 49  0  2  0]
 [ 0  0  0  0  0  0  0  1  0  0  0  0  0  0 56  0  0]
 [ 1  1  1  0  1  6  0  0  0  0  0  3  1  2  0 46  1]
 [ 0  0  2  5  1  0  0  1  0  0  0  0  0  0  1  0 59]]

In [58]:
#selecting RandomForesestClassifier

model=RandomForestClassifier()
#training the model
model.fit(X_train_scaled,y_train)
#predecting
y_pred=model.predict(X_test_scaled)
#calculating accuracy,
accuracy=accuracy_score(y_test,y_pred)
classification_rep=classification_report(y_test,y_pred)
confusion_mat= confusion_matrix(y_test,y_pred)
    
    
#printing the values
print("Accuracy: ",accuracy)
print("classification report: ",classification_rep)
print("confusion matrix: ",confusion_mat)

Accuracy:  0.8375350140056023
classification report:                precision    recall  f1-score   support

           0       0.77      0.87      0.81        68
           1       0.81      1.00      0.89        72
           2       0.77      1.00      0.87        57
           3       0.92      0.97      0.94        58
           4       0.78      0.42      0.55        66
           5       0.60      0.36      0.45        76
           6       0.93      0.99      0.96        71
           7       0.97      0.95      0.96        61
           8       0.76      0.98      0.86        53
           9       0.69      0.69      0.69        61
          10       0.87      0.98      0.93        63
          11       0.88      0.72      0.79        53
          12       0.89      0.87      0.88        68
          13       0.81      0.93      0.86        55
          14       0.92      0.98      0.95        57
          15       0.88      0.83      0.85        63
          16       0.94      0.84      0.89        69

    accuracy                           0.84      1071
   macro avg       0.83      0.84      0.83      1071
weighted avg       0.83      0.84      0.83      1071

confusion matrix:  [[59  5  0  0  1  0  0  0  0  1  1  0  0  0  0  1  0]
 [ 0 72  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0 57  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0 56  0  0  0  0  0  0  0  0  0  0  2  0  0]
 [ 4  2  9  0 28  7  0  0  1  6  1  2  2  0  1  1  2]
 [ 7  6  0  0  4 27  1  0  6  9  1  2  2  8  0  3  0]
 [ 0  0  0  0  0  1 70  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  1  0  0  0 58  0  0  0  0  0  0  1  0  1]
 [ 0  1  0  0  0  0  0  0 52  0  0  0  0  0  0  0  0]
 [ 3  1  0  0  0  3  3  0  2 42  3  0  3  0  0  1  0]
 [ 0  0  0  0  0  0  0  0  1  0 62  0  0  0  0  0  0]
 [ 0  2  0  0  2  5  0  0  3  1  1 38  0  1  0  0  0]
 [ 0  0  2  0  1  1  1  0  0  1  1  0 59  0  1  0  1]
 [ 0  0  1  0  0  0  0  0  2  0  0  0  0 51  0  1  0]
 [ 0  0  0  0  0  0  0  1  0  0  0  0  0  0 56  0  0]
 [ 4  0  1  0  0  1  0  0  1  0  0  1  0  3  0 52  0]
 [ 0  0  4  4  0  0  0  1  0  1  1  0  0  0  0  0 58]]

In [ ]:
#single input
y_pred=model.predict(X_test_scaled)

In [59]:
X_test_scaled[23]

array([-0.77942587, -0.25678162, -0.46935715, -0.33832543, -1.31703457,
        0.93076406,  1.53994755,  0.26500797, -1.08194746,  0.41651454,
        0.98111738,  0.36640374,  1.00121277,  1.00304339])

In [61]:
X_test_scaled[23].reshape(1,-1)

array([[-0.77942587, -0.25678162, -0.46935715, -0.33832543, -1.31703457,
         0.93076406,  1.53994755,  0.26500797, -1.08194746,  0.41651454,
         0.98111738,  0.36640374,  1.00121277,  1.00304339]])

In [63]:
model.predict(X_test_scaled[23].reshape(1,-1))

array([3], dtype=int64)

In [64]:
print("Predected Class: ", model.predict(X_test_scaled[23].reshape(1,-1)))

Predected Class:  [3]

In [65]:
print("Actual Class: ", y_test.iloc[23])

Actual Class:  3

In [66]:
print("Predected Class: ", model.predict(X_test_scaled[123].reshape(1,-1)))
print("Actual Class: ", y_test.iloc[123])

Predected Class:  [12]
Actual Class:  5

In [67]:
print("Predected Class: ", model.predict(X_test_scaled[156].reshape(1,-1)))
print("Actual Class: ", y_test.iloc[156])

Predected Class:  [7]
Actual Class:  7

In [69]:
import pickle

In [70]:
import pickle

# SAVE FILES
pickle.dump(scaler,open("Models/scaler.pkl",'wb'))
pickle.dump(model,open("Models/model.pkl",'wb'))

In [71]:
# Load the scaler, label encoder, and model
scaler = pickle.load(open("Models/scaler.pkl", 'rb'))
model = pickle.load(open("Models/model.pkl", 'rb'))

In [72]:
#Recommendation function

import pickle
import numpy as np

# Load the scaler, label encoder, model, and class names
scaler = pickle.load(open("Models/scaler.pkl", 'rb'))
model = pickle.load(open("Models/model.pkl", 'rb'))
class_names = ['Lawyer', 'Doctor', 'Government Officer', 'Artist', 'Unknown',
               'Software Engineer', 'Teacher', 'Business Owner', 'Scientist',
               'Banker', 'Writer', 'Accountant', 'Designer',
               'Construction Engineer', 'Game Developer', 'Stock Investor',
               'Real Estate Developer']

def Recommendations(gender, part_time_job, absence_days, extracurricular_activities,
                    weekly_self_study_hours, math_score, history_score, physics_score,
                    chemistry_score, biology_score, english_score, geography_score,
                    total_score,average_score):
    
    # Encode categorical variables
    gender_encoded = 1 if gender.lower() == 'female' else 0
    part_time_job_encoded = 1 if part_time_job else 0
    extracurricular_activities_encoded = 1 if extracurricular_activities else 0
    
    # Create feature array
    feature_array = np.array([[gender_encoded, part_time_job_encoded, absence_days, extracurricular_activities_encoded,
                               weekly_self_study_hours, math_score, history_score, physics_score,
                               chemistry_score, biology_score, english_score, geography_score,total_score,average_score]])
    
    # Scale features
    scaled_features = scaler.transform(feature_array)
    
    # Predict using the model
    probabilities = model.predict_proba(scaled_features)
    
    # Get top five predicted classes along with their probabilities
    top_classes_idx = np.argsort(-probabilities[0])[:5]
    top_classes_names_probs = [(class_names[idx], probabilities[0][idx]) for idx in top_classes_idx]
    
    return top_classes_names_probs

In [76]:
# Example usage 1
final_recommendations = Recommendations(gender='male',
                                        part_time_job=False,
                                        absence_days=6,
                                        extracurricular_activities=False,
                                        weekly_self_study_hours=0,
                                        math_score=65,
                                        history_score=87,
                                        physics_score=97,
                                        chemistry_score=84,
                                        biology_score=91,
                                        english_score=66,
                                        geography_score=76,
                                        total_score=566,
                                        average_score=80.85)

print("Top recommended studies with probabilities:")
print("="*50)
for class_name, probability in final_recommendations:
    print(f"{class_name} with probability {probability}")

Top recommended studies with probabilities:
==================================================
Business Owner with probability 0.25
Artist with probability 0.23
Real Estate Developer with probability 0.17
Game Developer with probability 0.1
Unknown with probability 0.1

In [77]:
# Example usage 2
final_recommendations = Recommendations(gender='female',
                                        part_time_job=False,
                                        absence_days=4,
                                        extracurricular_activities=True,
                                        weekly_self_study_hours=10,
                                        math_score=85,
                                        history_score=90,
                                        physics_score=97,
                                        chemistry_score=99,
                                        biology_score=91,
                                        english_score=76,
                                        geography_score=98,
                                        total_score=636,
                                        average_score=90.85)

print("Top recommended studies with probabilities:")
print("="*50)
for class_name, probability in final_recommendations:
    print(f"{class_name} with probability {probability}")

Top recommended studies with probabilities:
==================================================
Teacher with probability 0.19
Scientist with probability 0.17
Designer with probability 0.13
Government Officer with probability 0.1
Software Engineer with probability 0.08